<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.killerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_custom_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.amsterguide.PreLoginActivity"
            android:label="@string/title_activity_pre_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.amsterguide.SplashActivity"
            android:label="AmsterGuide"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.app.amsterguide.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.amsterguide.LoginActivity"
            android:label="Login to your Account" >
        </activity>
        <activity
            android:name="com.app.amsterguide.RegistrationActivity"
            android:label="Register New Account" >
        </activity>
        <activity
            android:name="com.app.amsterguide.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.app.killerapp.util.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="core.map.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="com.app.amsterguide.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.killerapp.MainActivity" />
        </activity>
        <activity
            android:name="util.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.app.amsterguide.FriendActivity"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name="com.app.amsterguide.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName="core.map.MapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="core.map.MapActivity" />
        </activity>
        <activity
            android:name="services.ServicesContactActivity"
            android:label="@string/title_activity_services_contact"
            android:parentActivityName="com.app.amsterguide.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.killerapp.MainActivity" />
        </activity>
        <activity
            android:name="core.event.EventList"
            android:label="@string/title_event_list" >
        </activity>
    </application>

</manifest>