<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.killerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name=".LoginActivity"
            android:label="Login to your Account">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".RegistrationActivity"
            android:label="Register New Account"></activity>
        
        <activity
            android:name="com.app.killerapp.MainActivity"
            android:label="@string/app_name" ></activity>
        
        <activity
            android:name="com.app.killerapp.SettingsActivity"
            android:label="@string/title_activity_settings" ></activity>
        
        <activity
            android:name="com.app.killerapp.util.MenuActivity"
            android:label="@string/title_activity_menu" ></activity>
        
        <activity
            android:name="com.app.killerapp.MapActivity"
            android:label="@string/title_activity_map" ></activity>
    </application>

</manifest>